:root {
    --bg: #0d0435;
    --primary: #b329f2;
    --cor-primaria-amarelo-ouro: #FFD700;
    --white: #FFFFFF;

    --cor-secundaria-cinza-escuro: #333333;
    --cor-secundaria-vermelho-vibrante: #FF0000;
    --black: #000000;

    --cor-destaque-azul-eletrico: #00BFFF;
}