:root {
    --bg: #09090c;
    --primary: #b329f2;
    --secondary: #131a2b;
    --red: #ff3842;
    --red-10: #cc3f470d;
    --red-20: #cc3f471a;
    --red-30: #cc3f4733;
    --red-40: #cc3f474d;
    --red-50: #cc3f4780;
    --red-60: #cc3f4799;
    --red-70: #cc3f47b2;
    --red-80: #cc3f47cc;
    --red-90: #cc3f47ee;
    --red-100: #cc3f47ff;
    --cor:#ff9399;
    --yellow: #FFD700;

    /* defaults */
    --white: #FFFFFF;
    --white-10: #FFFFFF1A;
    --white-20: #FFFFFF33;
    --white-30: #FFFFFF4D;
    --white-40: #FFFFFF66;
    --white-50: #FFFFFF80;
    --white-60: #FFFFFF99;
    --white-70: #FFFFFFB2;
    --white-80: #FFFFFFCC;
    --white-90: #FFFFFFEE;

    --black: #000000;
    --black-10: #0000001A;
    --black-20: #00000033;
    --black-30: #0000004D;
    --black-40: #00000066;
    --black-50: #00000080;
    --black-60: #00000099;
    --black-70: #000000B2;
    --black-80: #000000CC;
    --black-90: #000000EE;
}